In [1]:
# Importing Dependencies
import pandas as pd
import numpy as np

In [2]:
# Bringing in Uncleaned CSV's
csv1 = "data/JC-201809-citibike-tripdata.csv"
csv2 = "data/JC-201909-citibike-tripdata.csv"
bike_trip_2018 = pd.read_csv(csv1)
bike_trip_2019 = pd.read_csv(csv2)

In [3]:
# Viewing the 2018 Data
bike_2018_df = bike_trip_2018
bike_2018_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,284,2018-09-01 01:48:22.0320,2018-09-01 01:53:06.9130,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,Subscriber,1984,1
1,370,2018-09-01 01:48:22.5010,2018-09-01 01:54:32.9270,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,Subscriber,1984,1

In [4]:
# Viewing the 2019 Data
bike_2019_df = bike_trip_2019
bike_2019_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.73367,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.72534,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,Subscriber,1993,2

In [5]:
# Deleting Columns
del bike_2018_df['usertype']
del bike_2019_df['usertype']

In [6]:
bike_2018_df.head(5)
bike_2019_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,1991,1
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,1993,2
2,569,2019-09-01 00:07:13.0020,2019-09-01 00:16:42.8610,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,1977,1
3,1380,2019-09-01 00:07:25.3350,2019-09-01 00:30:26.1640,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,1965,1
4,1346,2019-09-01 00:07:56.4670,2019-09-01 00:30:22.5440,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,1968,2

In [7]:
#Checking Type of Values
bike_2018_df.dtypes
bike_2019_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                   int64
gender                       int64
dtype: object

In [8]:
#Changing the type of Values for the Gender Column
bike_2018_df['gender'] = bike_2018_df['gender'].astype(str)
bike_2019_df['gender'] = bike_2018_df['gender'].astype(str)

In [9]:
# Changing the Numeric Gender Values to Actual Gender Values For The 2018 CSV
gender_check_2018 = bike_2018_df['gender']
changed_2018_male = gender_check_2018.replace('1', 'Male')
changed_2018_female = changed_2018_male.replace('2', 'Female')
changed_2018_unknown = changed_2018_female.replace('0', 'Unknown')
bike_2018_df['gender'] = changed_2018_unknown
bike_2018_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,284,2018-09-01 01:48:22.0320,2018-09-01 01:53:06.9130,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,1984,Male
1,370,2018-09-01 01:48:22.5010,2018-09-01 01:54:32.9270,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,1984,Male
2,1181,2018-09-01 09:37:04.3070,2018-09-01 09:56:45.3280,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26307,1994,Male
3,383,2018-09-01 09:44:46.0030,2018-09-01 09:51:09.9230,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29261,1987,Male
4,377,2018-09-01 09:44:46.1850,2018-09-01 09:51:03.6330,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,33665,1985,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39017,985,2018-09-29 09:02:31.3090,2018-09-29 09:18:56.6570,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29492,1991,Female
39018,1595,2018-09-30 09:36:44.8650,2018-09-30 10:03:19.9750,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29252,1987,Male
39019,1996,2018-09-30 11:15:46.8100,2018-09-30 11:49:03.1200,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29122,1987,Female
39020,1803,2018-09-30 11:16:37.0760,2018-09-30 11:46:40.6460,3694,Jackson Square,40.711130,-74.078900,3273,Manila & 1st,40.721651,-74.042884,29251,1974,Male
39021,779,2018-09-30 13:49:47.3930,2018-09-30 14:02:46.7200,3694,Jackson Square,40.711130,-74.078900,3192,Liberty Light Rail,40.711242,-74.055701,29653,1969,Unknown

In [10]:
# Changing the Numeric Gender Values to Actual Gender Values For The 2019 CSV
gender_check_2019 = bike_2019_df['gender']
changed_2019_male = gender_check_2019.replace('1', 'Male')
changed_2019_female = changed_2019_male.replace('2', 'Female')
changed_2019_unknown = changed_2019_female.replace('0', 'Unknown')
bike_2019_df['gender'] = changed_2019_unknown
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,1991,Male
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,1993,Male
2,569,2019-09-01 00:07:13.0020,2019-09-01 00:16:42.8610,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,1977,Male
3,1380,2019-09-01 00:07:25.3350,2019-09-01 00:30:26.1640,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,1965,Male
4,1346,2019-09-01 00:07:56.4670,2019-09-01 00:30:22.5440,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,1968,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49239,621,2019-09-30 23:11:40.0630,2019-09-30 23:22:01.8370,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26245,1962,NaN
49240,167,2019-09-30 23:19:02.9380,2019-09-30 23:21:50.8290,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29525,1984,NaN
49241,94,2019-09-30 23:26:24.7470,2019-09-30 23:27:59.2310,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,1958,NaN
49242,366,2019-09-30 23:49:00.4260,2019-09-30 23:55:06.9620,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,1976,NaN
49243,150,2019-09-30 23:56:30.1980,2019-09-30 23:59:00.6750,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,1982,NaN

In [11]:
# Calculating Biker's Age's 
current_year = 2019

birth_year_2018 = bike_2018_df['birth year']
age = current_year - birth_year_2018
bike_2018_df['age'] = age

birth_year_2019 = bike_2019_df['birth year']
age = current_year - birth_year_2019
bike_2019_df['age'] = age

In [12]:
# Rearranging the Columns
bike_2018_df_organized = bike_2018_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2019_df_organized = bike_2019_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2018_df_organized.head(5)
bike_2019_df_organized.head(5)

,bikeid,gender,birth year,age,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,29303,Male,1991,28,145,3640,Journal Square,40.733670,-74.062500,2019-09-01 00:00:37.6920,3206,Hilltop,40.731169,-74.057574,2019-09-01 00:03:03.0100
1,29297,Male,1993,26,212,3194,McGinley Square,40.725340,-74.067622,2019-09-01 00:03:00.6000,3679,Bergen Ave,40.722104,-74.071455,2019-09-01 00:06:33.3420
2,29435,Male,1977,42,569,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:13.0020,3184,Paulus Hook,40.714145,-74.033552,2019-09-01 00:16:42.8610
3,29509,Male,1965,54,1380,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:25.3350,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:26.1640
4,29226,Male,1968,51,1346,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:56.4670,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:22.5440

In [16]:
# Renaming the Columns
bike_2018_renamed_df = bike_2018_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_2019_renamed_df = bike_2019_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})



bike_2018_renamed_df
bike_2019_renamed_df

,Bike ID,Gender,Birth Year,Age,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,29303,Male,1991,28,145,3640,Journal Square,40.733670,-74.062500,2019-09-01 00:00:37.6920,3206,Hilltop,40.731169,-74.057574,2019-09-01 00:03:03.0100
1,29297,Male,1993,26,212,3194,McGinley Square,40.725340,-74.067622,2019-09-01 00:03:00.6000,3679,Bergen Ave,40.722104,-74.071455,2019-09-01 00:06:33.3420
2,29435,Male,1977,42,569,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:13.0020,3184,Paulus Hook,40.714145,-74.033552,2019-09-01 00:16:42.8610
3,29509,Male,1965,54,1380,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:25.3350,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:26.1640
4,29226,Male,1968,51,1346,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:56.4670,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:22.5440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49239,26245,NaN,1962,57,621,3194,McGinley Square,40.725340,-74.067622,2019-09-30 23:11:40.0630,3191,Union St,40.718211,-74.083639,2019-09-30 23:22:01.8370
49240,29525,NaN,1984,35,167,3211,Newark Ave,40.721525,-74.046305,2019-09-30 23:19:02.9380,3209,Brunswick St,40.724176,-74.050656,2019-09-30 23:21:50.8290
49241,26317,NaN,1958,61,94,3213,Van Vorst Park,40.718489,-74.047727,2019-09-30 23:26:24.7470,3483,Montgomery St,40.719420,-74.050990,2019-09-30 23:27:59.2310
49242,29488,NaN,1976,43,366,3638,Washington St,40.724294,-74.035483,2019-09-30 23:49:00.4260,3270,Jersey & 6th St,40.725289,-74.045572,2019-09-30 23:55:06.9620
49243,29498,NaN,1982,37,150,3276,Marin Light Rail,40.714584,-74.042817,2019-09-30 23:56:30.1980,3213,Van Vorst Park,40.718489,-74.047727,2019-09-30 23:59:00.6750

In [18]:
# Outputting both files to csv in Outputs folder
bike_2018_renamed_df.to_excel("new/09_2018_citibike_tripdata_cleaned.csv", index=False, header=True)
bike_2019_renamed_df.to_excel("new/09_2019_citibike_tripdata_cleaned.csv", index=False, header=True)

ValueError: No engine for filetype: 'csv'